# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# NetCDF Large Data Files
*.nc
*.nc4
*.nc3
met_em.d0*
wrfout_d0*
wrfbdy_d*
wrfinput_d*
wrfrst*
FILE:*
*.grib
*.grib2
*.grb
*.grb2
